<div class="app__map-inner">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">
      <span class="ellipsis">
        Total
      </span>
    </button>
    <button type="button" class="btn btn-secondary">
      <span class="ellipsis">
        Recovered
      </span>
    </button>
    <button type="button" class="btn btn-secondary">
      <span class="ellipsis">
        Deaths
      </span>
    </button>
  </div>
  <!-- <igx-geographic-map
    class="app__map"
    #map
    zoomable="true"
    (seriesMouseLeftButtonUp)="onSeriesClicked($event)"
  ></igx-geographic-map> -->
</div>
